// Small tablets and large smartphones (landscape view)
$screen-sm-min: 600px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    width: 100% !important;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    width: 100% !important;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    width: 100% !important;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    width: 100% !important;
  }
}

@mixin row-sm {
  @media (max-width: #{$screen-md-min}) {
    flex-wrap: wrap;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: red;
  margin: 0;
  transition: 1s ease-in-out;

  .row-static {
    //@include row-sm;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: darkgray;
    transition: 1s ease-in-out;

    .cell {
      outline: 0.5px solid white;
      height: 100%;
      padding: 5px;
      transition: 1s ease-in-out;
      //word-wrap: break-word;
    //  @extend .center;
    }

    .col {
      @extend .cell;
      width: 100%;
    }

    .col-1 {
      @extend .cell;
      width: 8.333333333%;
      background-color: cornflowerblue;
    }

    .col-2 {
      @extend .cell;
      width: 16.666666667%;
      background-color: aliceblue;
    }

    .col-3 {
      @extend .cell;
      width: 25%;
      background-color: antiquewhite;
    }

    .col-4 {
      @extend .cell;
      width: 33.3333333333vw;
      background-color: darkmagenta;
    }

    .col-5 {
      @extend .cell;
      width: 41.6666666667%;
      background-color: blanchedalmond;
    }

    .col-6 {
      @extend .cell;
      width: 50%;
      background-color: blue;
    }

    .col-7 {
      @extend .cell;
      width: 58.3333333333%;
      background-color: blueviolet;
    }

    .col-8 {
      @extend .cell;
      width: 66.6666666667%;
      background-color: brown;
    }

    .col-9 {
      @extend .cell;
      width: 75%;
      background-color: chartreuse;
    }

    .col-10 {
      @extend .cell;
      width: 83.3333333333%;
      background-color: burlywood;
    }

    .col-11 {
      @extend .cell;
      width: 91.6666666667%;
      background-color: cadetblue;
    }

    .col-12 {
      @extend .cell;
      width: 100%;
      background-color: chocolate;
    }
  }

  .row {
    @include row-sm;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: darkgray;
    transition: 1s ease-in-out;

    .cell {
      outline: 0.5px solid white;
      height: 100%;
      padding: 5px;
      transition: 1s ease-in-out;
      //word-wrap: break-word;
   //   @extend .center;
    }

    .col {
      @extend .cell;
      width: 100%;
      @media (max-width: #{$screen-md-min}) {
        width: 48.3% !important;

      }
      @media (max-width: #{$screen-sm-min}) {
        width: 100% !important;
      }
    }
    

    .col-1 {
      @extend .cell;
      width: 8.333333333%;
      background-color: cornflowerblue;
    }

    .col-2 {
      @extend .cell;
      width: 16.666666667%;
      background-color: aliceblue;
    }

    .col-3 {
      @extend .cell;
      width: 25%;
      background-color: antiquewhite;
    }

    .col-4 {
      @extend .cell;
      width: 33.3333333333vw;
      background-color: darkmagenta;
    }

    .col-5 {
      @extend .cell;
      width: 41.6666666667%;
      background-color: blanchedalmond;
    }

    .col-6 {
      @extend .cell;
      width: 50%;
      background-color: blue;
    }

    .col-7 {
      @extend .cell;
      width: 58.3333333333%;
      background-color: blueviolet;
    }

    .col-8 {
      @extend .cell;
      width: 66.6666666667%;
      background-color: brown;
    }

    .col-9 {
      @extend .cell;
      width: 75%;
      background-color: chartreuse;
    }

    .col-10 {
      @extend .cell;
      width: 83.3333333333%;
      background-color: burlywood;
    }

    .col-11 {
      @extend .cell;
      width: 91.6666666667%;
      background-color: cadetblue;
    }

    .col-12 {
      @extend .cell;
      width: 100%;
      background-color: chocolate;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-v {
  display: flex;
  align-items: center;
}

.center-h {
  display: flex;
  justify-content: center;
}
